@import './assets/variables';

// Main
.Main {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	min-height: 100vh;
	background-color: $primary_dark_color;
}

// Footer
.Footer {
	height: 40px;
	position: relative;
	z-index: 2;
	background-color: $accent_color;
}