@import './assets/variables';

// Normalize
*, *::before, *::after  {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: unset;
}

button:active, button:focus {
	outline: none;
	border: none;
}

// Theme variables
html {
	font-size: 62.5%;
	--backgroundColor: #FFFFFF;
	--secondaryBackgroundColor: #e1e1e1;
	--color: #050A10;

}

html[data-theme='dark'] {
	--backgroundColor: #050A10;
	--secondaryBackgroundColor: #001836;
	--color: #FFFFFF;
}


// Body
body {
	background-color: var(--backgroundColor);
	color: var(--color);
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
