// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;


// COLORS
$primary_dark_color: #050A10;
// $secondary_dark_color: #14213D;
$primary_light_color: #eeeef6;
// $secondary_light_color: #FFFFFF;
$accent_color: #D90429;
$secondary_accent_color: #313ba7;
// $warning_color: #FCA311;

// BREAKPOINTS (>=)
$extra_large_breakpoint: 1200px;
$large_breakpoint: 992px;
$medium_breakpoint: 768px;
$small_breakpoint: 576px;
// $extra_small_breakpoint:; // less than small
