@import '../../assets/variables';

.SignInCtn {
    display: inline-block;
    padding: 50px;
    border-radius: 20px;
    margin: 100px auto;
    background-color: $primary_light_color;
    // border: 2px solid $accent_color;
}