.mine {
    display: block;
    text-align: left;
    padding: 10px 50px;
    background-color: #f2f2f2;
    max-width: 150px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 50px;
}
.others {
    display: block;
    text-align: left;
    padding: 10px 50px;
    background-color: rgba(92, 131, 214, 0.25);
    max-width: 150px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: 50px;
}