@import '../../assets/variables';

.Layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--secondaryBackgroundColor);
    .Nav {
        height: 100vh;
        overflow-y: auto;
        position: relative;
        padding: 2rem 0;
        min-width: 20vw;
        .title {
            display: flex;
            align-items: center;
            margin: 1rem 1.5rem 2rem 1.5rem;
            .search {
                all: unset;
                cursor: pointer;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                background-color: $primary_light_color;
                color: $primary_dark_color;
                text-align: center;
                margin-left: auto;
            }
        }
        h3 {
            margin: 1rem 1.5rem;
        }
        .emptyChats {
            margin: 0.5rem 2rem 2.5rem 1.5rem;
            display: flex;
            i {
                margin-left: 2rem;
            }
        }
        ul {
            list-style: none;
            li {
                .NavLink {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    color: var(--color);
                    text-decoration: none;
                    padding: 2rem 1.5rem;
                    &:hover,  &.active {
                        background: rgba(49, 59, 167, 0.2);
                        background: linear-gradient(90deg, rgba(49, 59, 167, 0.2) 0%, rgba(217,4,41,0) 100%);
                        padding-left: 1.3rem;
                        border-left: 2px solid rgba(49, 59, 167, 0.2);    
                    }
                    &.active {
                        border-left: 2px solid $accent_color;    
                    }
                    .chatImage {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                    }
                    .chatContent {
                        width: 100%;
                        padding: 0 1rem;
                        display: block;
                        .chatTitle {
                            font-family: 'Montserrat', sans-serif;
                            margin-bottom: 0.5rem;
                            display: flex;
                            align-items: flex-end;
                            font-size: 1.4rem;
                            font-weight: 500;
                            .chatTime {
                                font-family: 'Source Sans Pro', sans-serif;
                                padding-bottom: 0.2rem;
                                display: inline-block;
                                font-size: 1.2rem;
                                text-align: right;
                                margin-left: auto;
                                color: $secondary_accent_color;
                            }
                        }
                        .chatMessage {
                            font-size: 1.4rem;
                            font-weight: 300;
                            color: var(--color);
                        }
                    }
                }
            }
        }
        .addChat {
            all: unset;
            cursor: pointer;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-color: $accent_color;
            min-height: 4rem;
            color: $primary_light_color;
            text-align: center;
            position: absolute;
            bottom: 7rem;
            right: 2rem;
            transition: all 0.3s ease-out;
            &:hover {
                box-shadow: 0 0 3px $accent_color;
            }
        }
    }
    .ChatContainer {
        background-color: var(--backgroundColor);
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// Header
.Header {
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 1rem 0;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: $secondary_accent_color;
    font-size: 1.2rem;
    border-radius: 2rem;
	color: $primary_dark_color;
	.Logo {
		height: 5rem;
		pointer-events: none;
    }
    nav {
        margin-top: auto;
        ul {
            list-style: none;
            li {
                position: relative;
                i {
                    border-radius: 1rem;
                    color: $primary_light_color;
                    font-size: 2rem;
                    margin: 1rem 0;
                    padding: 1rem;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 1rem 0 0 1rem;
                    }
                }
                i + .NavExtra {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: transparent;
                    font-size: 1.4rem;
                    height: 5rem;
                    left: 4rem;
                    line-height: 4rem;
                    opacity: 0;
                    padding-left: 2rem;
                    pointer-events: none;
                    position: absolute;
                    text-align: left;
                    top: 1rem;
                    transform-origin: 100% 0;
                    transition: width .3s, color .5s;
                    width: 0;
                } 
                i:hover + .NavExtra {
                    background-color: rgb(70,79,176);
                    border-radius: 0 1rem 1rem 0;
                    color: #fff;
                    display: block;
                    height: 4rem;
                    opacity: 1;
                    pointer-events: unset;
                    width: 12rem;
                } 
            }
        }
    }
}

main {
    display: flex;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.Logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}